/* Load Roboto Slab as the admin app's default */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700;800&display=swap");

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Roboto Slab", Georgia, "Times New Roman", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}
